SOS_PUBLIC_DOMAIN=sos.timeliber.com.co
PROXY_NETWORK_NAME=proxy-net
SOS_DB_NAME=sos
SOS_DB_USER=sos
SOS_DB_PASSWORD=GENERATE_A_LONG_RANDOM_PASSWORD
SOS_JWT_SECRET=GENERATE_AT_LEAST_64_RANDOM_CHARACTERS
SOS_DATA_ENCRYPTION_KEY=GENERATE_AT_LEAST_64_RANDOM_CHARACTERS
